<section class="search">
  <input type="text" placeholder="Filter the Taskboard" #filterInput>
  <button type="button" class="primary" (click)="updateFilter(filterInput.value)">Filter</button>
</section>

<div class="board" cdkDropListGroup>
  <div class="task-status">
    <h2>TODO</h2>
    <div class="task-list"
         cdkDropList
         [cdkDropListData]="TODO"
         (cdkDropListDropped)="drop($event)">
      <taskboard-card *ngFor="let task of TODO"
                      [task]="task"
                      cdkDrag
                      class="board-task-item">
      </taskboard-card>
    </div>
  </div>

  <div class="task-status">
    <h2>DOING</h2>
    <div class="task-list"
         cdkDropList
         [cdkDropListData]="DOING"
         (cdkDropListDropped)="drop($event)">
      <taskboard-card *ngFor="let task of DOING"
                      [task]="task"
                      cdkDrag
                      class="board-task-item">
      </taskboard-card>
    </div>
  </div>

  <div class="task-status">
    <h2>DONE</h2>
    <div class="task-list"
         cdkDropList
         [cdkDropListData]="DONE"
         (cdkDropListDropped)="drop($event)">
      <taskboard-card *ngFor="let task of DONE"
                      [task]="task"
                      cdkDrag
                      class="board-task-item">
      </taskboard-card>
    </div>
  </div>
</div>
